@font-face {
    font-family: 'titleFont';
    src: url('../fonts/Round\ Butterfly.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.main-title{
    font-family: 'titleFont';
    font-size: 5rem;
    color: white;
    padding-left: 50px;
}

#hamBurgerIcon{
    font-size: 48px;
    color: white;
    visibility: hidden;
    border: none;
    background: none;
}

.headerContainer{
    display: flex;
    width: 100%;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
}

.sideBarContainer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 15vw;
    height: 80vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 8%;
}

.inboxContainer,.todayContainer,.weekContainer{
    border: none;
    background: none;
    display: flex;
    width:90%;
    height: 30%;
    border-radius: 10px;;
    align-items: center;
}

.inboxContainer:hover,.todayContainer:hover,.weekContainer:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

#inboxIcon,#todayIcon,#weekIcon{
    color: black;
    font-size: 1.2rem;
}

.inboxText,.todayText,.weekText{
    font-size: 1.2rem;
    padding-left: 5%;
    color: black;
}


.projectContainer{
    padding-top: 5%;
    padding-left: 12%;
}
.projectTitle{
    font-size: 2rem;
    font-weight: 600;
}


@media only screen and (max-width: 408px){
    #hamBurgerIcon{
        font-size: 1.5rem;
        visibility: visible;
        padding-right: 10%;

    }

    .main-title{
        font-size: 1.5rem;
    }

    .sideBarContainer{
        visibility: hidden;
        width: 100%;
        align-items: center;
    }
    .inboxContainer,.todayContainer,.weekContainer{
        width: 100%;
        color: black;
        font-weight: 600;
    }

    .nav-container{
        width: 90%;
        height: 40%;
        align-items: start;
    }
    .inboxText,.todayText,.weekText{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .active{
        visibility: visible;
    }
}