@font-face {
    font-family: 'titleFont';
    src: url('../fonts/Round\ Butterfly.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main-title{
    font-family: 'titleFont';
    font-size: 5rem;
    color: white;
    padding-left: 50px;
}

#hamBurgerIcon{
    font-size: 48px;
    color: white;
    visibility: hidden;
    border: none;
    background: none;
}

.headerContainer{
    display: flex;
    width: 100%;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
}

.sideBarContainer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 15vw;
    height: 80vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 8%;
}

.inboxContainer,.todayContainer,.weekContainer,.addProjectContainer{
    border: none;
    background: none;
    display: flex;
    width:90%;
    height: 30%;
    border-radius: 10px;
    align-items: center;
    padding-left: 15px;
}

.inboxContainer:hover,.todayContainer:hover,.weekContainer:hover,.addProjectContainer:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

#inboxIcon,#todayIcon,#weekIcon{
    color: black;
    font-size: 1.2rem;
}

.inboxText,.todayText,.weekText{
    font-size: 1.2rem;
    padding-left: 5%;
    color: black;
}


.projectContainer{
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    padding-top: 5%;
    padding-left: 8%;
}
.projectTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-right: 15%;
}
.addProjectText{
    font-size: 1.2rem;
    padding-left: 5%;
}



.activePage{
    background-color: #CCCCCC;
}


.contentContainer{
    display: flex;
}

#projectNameForm{
    height: 50px;
    width: 245px;
    border-radius: 5px;
    padding-left: 10px;
}

#projectNameForm:focus{
    outline: none;
}

.submitFormButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.submitProjectNameButton,.cancelProjectNameButton{
    font-size: 1.2rem;
    height: 50px;
    width: 110px;
    border-radius:5px;
}

.submitProjectNameButton{
    color: white;
    background-color: #66BB6A;
}

.submitProjectNameButton:hover{
    cursor: pointer;
    background-color: #5a8f5d;
}

.cancelProjectNameButton{
    color: white;
    background-color: #FF7373;
}

.cancelProjectNameButton:hover{
    background-color: #d45a5a;
    cursor: pointer;
}


.notActive{
    display: none;
}

@media (max-width: 650px){
    #hamBurgerIcon{
        font-size: 1.5rem;
        visibility: visible;
        padding-right: 10%;

    }

    .main-title{
        font-size: 1.5rem;
    }

    .sideBarContainer{
        display: none;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .inboxContainer,.todayContainer,.weekContainer{
        width: 100%;
        padding-bottom: 17px;
        color: black;
        font-weight: 600;
        align-items: center;
    }

    .nav-container{
        width: 90%;
        height: 40%;
        align-items: start;
    }
    .inboxText,.todayText,.weekText,#inboxIcon,#todayIcon,#weekIcon{
        padding-top: 25px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .projectContainer{
        display: flex;
        height: auto;
    }

    .projectTitle{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }
    
    .addProjectContainer{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #projectNameForm{
        height: 25px;
        width: 300px;
        border-radius: 5px;
        padding-left: 10px;
    }

    .submitFormButtonContainer{
        width: 300px;
        margin-bottom: 20px;
    }
    .submitProjectNameButton,.cancelProjectNameButton{
        font-size: 0.9rem;
        height: 25px;
        width: 110px;
        border-radius:5px;
    }

    .active{
        display: inline;
    }

    .contentContainer{
        flex-direction: column;
    }

    
}