@font-face {
    font-family: 'titleFont';
    src: url('../fonts/Round\ Butterfly.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

*{
    color: black;
}

.main-title{
    font-family: 'titleFont';
    font-size: 5rem;
    color: white;
    padding-left: 50px;
}

#hamBurgerIcon{
    font-size: 48px;
    color: white;
    visibility: hidden;
    border: none;
    background: none;
}

.headerContainer{
    display: flex;
    width: 100%;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
}

.sideBarContainer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 15vw;
    height: 80vw;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 8%;
}

.inboxContainer,.todayContainer,.weekContainer,.addProjectContainer{
    border: none;
    background: none;
    display: flex;
    width:90%;
    height: 30%;
    border-radius: 10px;;
    align-items: center;
}

.inboxContainer:hover,.todayContainer:hover,.weekContainer:hover,.addProjectContainer:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}

#inboxIcon,#todayIcon,#weekIcon{
    color: black;
    font-size: 1.2rem;
}

.inboxText,.todayText,.weekText{
    font-size: 1.2rem;
    padding-left: 5%;
    color: black;
}


.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 8%;
}
.projectTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-right: 15%;
}
.addProjectText{
    font-size: 1.2rem;
    padding-left: 5%;
}


.activePage{
    background-color: #CCCCCC;
}


.contentContainer{
    display: flex;
}

@media (max-width: 650px){
    #hamBurgerIcon{
        font-size: 1.5rem;
        visibility: visible;
        padding-right: 10%;

    }

    .main-title{
        font-size: 1.5rem;
    }

    .sideBarContainer{
        display: none;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .inboxContainer,.todayContainer,.weekContainer{
        width: 100%;
        padding-bottom: 20px;
        color: black;
        font-weight: 600;
        align-items: center;
    }

    .nav-container{
        width: 90%;
        height: 40%;
        align-items: start;
    }
    .inboxText,.todayText,.weekText,#inboxIcon,#todayIcon,#weekIcon{
        padding-top: 25px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .projectContainer{
        width: 100%;
        padding-bottom: 20px;
    }

    .projectTitle{
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    .addProjectContainer{
        display: flex;
        align-items: center;
        width: 90%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .addProjectText{
        font-size: 1.2rem;
    }

    .active{
        display: inline;
    }

    .contentContainer{
        flex-direction: column;
    }

    
}